* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==================================== |CONTEÚDO PRINCIPAL| ============================================================*/
.main { 
    background-color: rgba(37, 33, 33, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 10%;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    padding: 15px;
    color: #FFFF;
    text-align: center;
    height: 100px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}

footer { 
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

footer img { 
  width: 60px;
  height:60px;
}

footer .githubIcon { 
  width: 60px;
  height:60px;
  position: fixed;
  right: 20px;
}

/* Alinha lado a lado */
.input-group { 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

}

/* Campo de data */
.input-group input[type="date"] {
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  background-color: transparent;
  color: #0000;
  text-align: center;
}

/* Botão de pesquisar a imagem */
button {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  color: rgb(37, 30, 30);
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 40px;
  box-sizing: border-box;
}

.input-group button {
  border-color: #8a2be2;
}

.input-group button:hover {
  border-color: #fff;
  color: #af04ff;
  background-color: transparent;
}




/* Título da imagem da API */
#title {
  margin: 20px 0 15px;
  font-size: 1.8rem;
}

/* ====================== CONTEÚDO DO FETCH ======================= */
.container { 
  max-width: 600px;
  max-height: 600px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

/* Imagem da API */
.imgApi {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}