/* IMPORT DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 1600 900' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='%231D1D2F' width='1600' height='900'/%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Ccircle cx='120' cy='150' r='2' /%3E%3Ccircle cx='300' cy='80' r='1.5' /%3E%3Ccircle cx='450' cy='300' r='2' /%3E%3Ccircle cx='700' cy='200' r='1.8' /%3E%3Ccircle cx='900' cy='100' r='2' /%3E%3Ccircle cx='1200' cy='180' r='1.6' /%3E%3Ccircle cx='1400' cy='50' r='2' /%3E%3Ccircle cx='1550' cy='250' r='1.5' /%3E%3C/g%3E%3Ccircle cx='1300' cy='700' r='100' fill='%23444488' fill-opacity='0.2'/%3E%3Ccircle cx='300' cy='800' r='150' fill='%23ffffff' fill-opacity='0.02'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==================================== |CONTEÚDO PRINCIPAL| ============================================================*/
.main { 
    background-color: rgba(37, 33, 33, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 10%;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    padding: 15px;
    color: #FFFF;
    text-align: center;
    height: 100px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}

/* Alinha lado a lado */
.input-group { 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

/* Campo de data */
.input-group input[type="date"] {
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  background-color: transparent;
  color: rgb(255, 253, 253);
  text-transform: uppercase;
  text-align: center;
}

/* Deixando o calendário das datas claro */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  cursor: pointer;
}

/* Botão de pesquisar a imagem */
button {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  color: rgb(37, 30, 30);
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 40px;
  box-sizing: border-box;
}

.input-group button {
  border-color: #8a2be2;
}

.input-group button:hover {
  border-color: #fff;
  color: #af04ff;
  background-color: transparent;
}

/* ====================== CONTEÚDO DO FETCH ======================= */
.container { 
  background-color: transparent;
  gap: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

/* Título da imagem da API */
#title {
  margin: 20px 0 15px;
  font-size: 1.8rem;
  color: black;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
}

/* Imagem da API */
#imgApi {
  width: 100%;
  max-height: 600px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  display: none;
}

/* ===========================  FOOTER =================================== */
footer { 
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

footer img { 
  width: 60px;
  height:60px;
}

footer .githubIcon { 
  width: 60px;
  height:60px;
  position: fixed;
  right: 20px;
}
